body{
    --tamanho-menu: 82px;
}
   

.menu{
    position: fixed;
    width: 100%;
    padding: 32px 0;
    background: #123036;
    will-change: padding;
    transition-property: padding;
    transition: .3s ease;
    z-index: 100;
    @media (max-width: 1024px){
        display: none;
    }
    .container{
        position: relative;
    }
    .menu__wrapper{
        display: flex;
        justify-content: space-between
        ;
        align-items: center;
       
        &-logo{
            color: $cor-branco;
        }
        &-navegacao{
            display: flex;
            li{
                &+li{
                    margin-left: 16px;
                }
            }
            li a {
                display: block;
                padding: rem(8);
                color: $cor-branco;
            }
        }
    }
    .menu__busca{
        position: absolute;
        bottom: -64px;
        width: 100%;
        display: flex;
        opacity: 0;
        transition: opacity .3s ease;
        input{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            width: 100%;
            padding: 16px;
            outline: none;
            border: none;
            font-size: rem(14);
        }
        &-submit{
            position: absolute;
            right: 0;
            height: 100%;
            padding: 8px 16px;
            border: none;
            background: none;
            pointer-events: all;
            color: $cor-primaria;
        }

    }
//ativar ação se scrollar
    &.scrolou{
        padding: 16px 0;
    }

    /*ATIVAR BARRA DE BUSCA*/
    &.ativar .menu__busca{  
        opacity: 1;
    }
}





/* MENU MOBILE*/

.menu__mobile{
    display: none;
    padding: 32px 16px;
    background: $cor-primaria;
    width: 100%;
    position: fixed;
    z-index: 1000;
    @media (max-width: 1024px){
        display: block;
    }
    &-wrapper{
        display: flex;
        justify-content: space-between;
        &-logo{
            color: $cor-branco;
        }
        &-burger{
        border-top: 2px solid $cor-branco;
        width: 25px;
        display: block;
        position: relative;
        cursor: pointer;
        
        &::after, &::before{
            content: "";
            display: block;
            background: $cor-branco;
            width: 25px;
            height: 2px;
            margin-top: 5px;
            position: relative;
            transition: transform .2s ease;
            will-change: transform;
        }
        }
        &-navegacao{
            position: absolute;
            display: flex;
            justify-content: flex-end;
            left: 0;
            top: var(--tamanho-menu);
            width: 100%;
            z-index: 100;
            visibility: hidden;
            & ul{
                display: flex;
                flex-direction: column;
                background: $cor-primaria;
                width: 65%;
                height: 100vh;
                will-change: transform;
                transform: translateX(110vw);
                transition: .3s ease-in-out;
                li {
                    padding: 16px 0;
                    margin: 0 16px 0 32px ;
                    a{
                        font-size: rem(18);
                        color: $cor-branco;
                        font-weight: 700;
                        width: 100%;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    
    /**ATIVAR NAVEGAÇÃO**/

    &.ativar .menu__mobile-wrapper-navegacao{
        visibility: visible;
    }
    &.ativar .menu__mobile-wrapper-navegacao ul{
        transform: translateX(0);
    }

    /* ICONE DO MENU ATIVO*/
    &.ativar .menu__mobile-wrapper-burger{
        border-top: transparent;
        
    }

    &.ativar .menu__mobile-wrapper-burger::after{
        transform: rotate(135deg);
        top: -7px;
  
    }
    &.ativar .menu__mobile-wrapper-burger::before{
        transform: rotate(-135deg);
        
    }

}



