.menu{
    padding: 32px 0;
    background: #123036;
    .container{
        position: relative;
    }
    .menu__wrapper{
        display: flex;
        justify-content: space-between
        ;
        align-items: center;
        &-logo{
            color: $cor-branco;
        }
        &-navegacao{
            display: flex;
            li{
                &+li{
                    margin-left: 16px;
                }
            }
            li a {
                display: block;
                padding: rem(8);
                color: $cor-branco;
            }
        }
    }
    .menu__busca{
        position: absolute;
        bottom: -64px;
        width: 100%;
        display: flex;
        opacity: 0;
        transition: opacity .3s ease;
        input{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            width: 100%;
            padding: 16px;
            outline: none;
            border: none;
            font-size: rem(14);
        }
        &-submit{
            position: absolute;
            right: 0;
            height: 100%;
            padding: 8px 16px;
            border: none;
            background: none;
            pointer-events: all;
            color: $cor-primaria;
        }

    }
}

.menu.ativar .menu__busca{  
    opacity: 1;

}



/* ACCORDION*/


.faq{
    padding: 80px 0;
    h2{
        text-align: center;
        font-weight: 500;
        font-size: rem(32);
    }
    &__wrapper{
        padding: 64px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-item{
            margin-bottom: 32px;
          
            width: 100%;
            padding: 16px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                color: $cor-preto;
                font-weight: 500;
                ion-icon{
                    font-size: rem(14);
                    will-change: transform;
                    transition: .3s ease;
                    color: $cor-laranja;
                }
            }

            p{
                display: none;  
                color: $cor-preto;
                     
            }
        }
    }
}

.faq__wrapper-item h3.ativar{
    ion-icon{
        transform: rotate(-180deg);
    }
}

 .faq__wrapper-item p.ativar{
    display: block;
    animation: slideDown .3s forwards;
}

@keyframes slideDown {
    from{
      opacity: 0;
      max-height: 0;
      padding-top: 0;
    }
    to{
      opacity: 1;
      max-height: 200px;
      padding-top: 16px;
    }
  }